:root {
  --background: #f3f3f3;
  --foreground: #171717;
  --primary: #00d185;
  --primary-dark: #167653;
  --white: #ffffff;
  --black: #000000;
  --secondary: #ffe4c4;
  --gradient: linear-gradient(90deg, rgba(230, 177, 42, 0.75) 0%, rgba(18, 144, 190, 0.88) 50%, rgba(222, 100, 201, 0.72) 100%);
}
