.collection-card-container {
    border-radius: 64px;
    border: 1px solid black;
    padding: 63px;
    aspect-ratio: 1/1;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(230,177,42,0.2), rgba(222,100,201,0.2));
    box-shadow: 0 2px 2px var(--black), 0 4px 10px var(--black);
    margin-bottom: 50px;
}

.flex-container {
    display: flex;
    gap: 63px;
}

.favourite {
    font-family: var(--font-dancing);
    font-size: 32px;
}