.collection-card-container {
    border-radius: 64px;
    padding: 63px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(230,177,42,0.2), rgba(222,100,201,0.2));
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
    margin: 32px 0;
    gap: 12px;
}

.collection-card-container:hover {
    outline: 2px solid rgba(0,0,0,0.08);
    transform: scale(1.02)
  }

.location-container {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    gap: 63px;
    align-items: baseline;

}

.favouriteLabel {
    font-family: var(--font-dancing);
    font-size: 32px;
}