.navbar-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  transition: filter 0.3s;
}

.navbar-icon:hover {
  filter: brightness(0) saturate(100%) invert(47%) sepia(92%) saturate(2829%) hue-rotate(150deg) brightness(95%) contrast(90%);
}

