@import "tailwindcss";
@import "./styles/variables.css";

@import "./styles/base.css";
@import "./styles/components/header.css";
@import "./styles/components/navbar.css";
@import "./styles/components/hero.css";

